@media (max-width: 700px) {
    #lista-templos {
        grid-template-columns: 1fr;
    }
}

#lista-templos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px;
}